    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        justify-content: center;
        align-items: center;
    }
    
    header {
        height: 10%;
        width: 95%;
        display: flex;
        justify-content: flex-start;
        background: white;
        font-weight: bold;
    }
    
    .logo {
        display: inline-block;
        margin-top: 2%;
        margin-right: 2%
    }
    
    .search {
        display: flex;
        width: 100%;
    }
    
    .search input {
        height: 36%;
        width: 50%;
        border-color: rgba(240, 67, 67, 1);
        margin-top: 7%;
        margin-left: 25%;
    }
    
    .loupe {
        height: 40%;
        width: 11%;
        background-color: rgba(240, 67, 67, 1);
        margin-top: 7%;
        cursor: pointer;
    }
    
    .home {
        margin-top: 4%;
        margin-left: 5%;
        align-items: center;
    }
    
    .livraison {
        margin-top: 4%;
        margin-left: 10%;
        align-items: center;
    }
    
    .login {
        margin-top: 4%;
        margin-left: 10%;
        text-align: center;
        align-self: center;
    }
    
    .panier {
        margin-top: 4%;
        margin-left: 10%;
        text-align: center;
    }
    
    .nav {
        display: flex;
        height: 60px;
        width: 95%;
        background-color: rgba(240, 67, 67, 1);
        color: white;
        justify-content: space-around;
        padding-top: 30px;
        font-weight: bold;
    }
    
    .nav2 {
        height: 10%;
        width: 95%;
        display: flex;
        justify-content: space-around;
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 20px;
        background-color: white;
        font-weight: bold;
    }
    
    .homme:hover {
        font-size: 24px;
        color: #5473CC;
    }
    
    .femme:hover {
        font-size: 24px;
        color: #B31ECA;
    }
    
    .enfant:hover {
        font-size: 24px;
        color: #269376;
    }
    
    .marques:hover {
        font-size: 24px;
        color: #D8AC67;
    }
    
    .sport:hover {
        font-size: 24px;
        color: #D8D367;
    }
    
    .product {
        background: linear-gradient(white, rgb(59, 59, 233));
        width: 95%;
        height: 800px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        font-size: 100px;
    }
    
    .product p:hover {
        font-size: 150px;
        color: red;
    }
    
    .nav2 {
        height: 10%;
        width: 95%;
        display: flex;
        justify-content: space-around;
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 20px;
        background-color: white;
        font-weight: bold;
    }
    
    .p1 {
        text-align: center;
    }
    
    .p1:hover {
        font-size: 24px;
    }
    
    .p2:hover {
        font-size: 24px;
    }
    
    .p3 {
        text-align: center;
    }
    
    .p3:hover {
        font-size: 24px;
    }
    
    footer {
        border: solid;
        border-color: rgba(61, 56, 56, 1);
        width: 95%;
        display: flex;
        justify-content: space-around;
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 20px;
        background-color: white;
        font-weight: bold;
    }