body {
  display: flex;
  width: 100%;
  height: 900px;
  flex-direction: column;
  margin: 0%;
  background-color: rgb(255, 255, 255);
}
.admin {
  width: 15%;
  height: 5%;
}
.logo1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 10%;
}
.logo {
 
  width: 10%;
  height: 100%;
  margin-left: -3%;
}
a2 {-webkit-box-shadow: -6px 6px 15px 2px rgba(10,104,255,0.82); 
  box-shadow: -6px 6px 15px 2px rgba(10,104,255,0.82);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  width: 20%;
  height: 80%;
  background-color:rgba(10,104,255,0.82);
  border-radius: 20px;
}
a3 {-webkit-box-shadow: -6px 6px 15px 2px rgba(10,104,255,0.82); 
  box-shadow: -6px 6px 15px 2px rgba(10,104,255,0.82);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  height: 80%;
  background-color: rgba(10,104,255,0.82);
  border-radius: 20px;
}
a4 {-webkit-box-shadow: -6px 6px 15px 2px rgba(10,104,255,0.82); 
  box-shadow: -6px 6px 15px 2px rgba(10,104,255,0.82);
  width: 20%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:rgba(10,104,255,0.82);
  border-radius: 20px;
}

img {
  width: 10%;
  margin-left: 10%;
}

.bar {
  -webkit-box-shadow: -6px 6px 15px 2px rgba(10,104,255,0.82); 
box-shadow: -6px 6px 15px 2px rgba(10,104,255,0.82);
  width: 15%;
  height: 60%;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

h1 {
  font-size: 15px;
  margin-left: 40px;
  margin-top: 20px;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
}
section {
  
  width: 100%;
  height: 644px;
}

.fromage {
  
  width: 140%;
  height: 120%;
  margin-left: 60%;
  margin-top: -140%;
}

.graph {
  width: 300%;
  height: 90%;
  margin-left: 100%;
  margin-top: -220%;
}

ul {
  display: flex;
  flex-direction: column;
}
li {
  list-style-type: none;
}
span {
  font-size: 25px;
  color: rgb(0, 0, 0);
}